.slideContainer {
    overflow: hidden;
    margin: 5vh auto;
    padding: 0 auto;
    width: 97%;
}

.slideItems {
    padding: 0 20px;
    width: 90%;
    display: flex;
    align-items: center;
    transition: transform .3s ease;
}

.slideContainer::before {
    content: 'Categorias';
    width: 80%;
    margin: 3vh 30px;
    font-family: 'Poppins';
    color: var(--dark-gray);
    font-size: 16px;
    font-weight: 500;
    height: 20px;
    display: block;
}

.slideItem {
    flex-shrink: 0;
    border-radius: 10px;
    width: 27%;
    height: 190px;
    margin: 0 0.5vw;
    padding: 15px 20px;
}

.slideItem strong {
    font-size: 28px;
    font-family: 'Poppins';
    color: white;
    -webkit-text-stroke: 0.5px rgb(83, 83, 83);
    font-weight: 600;
}

.slideNavigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* top: 50vh; */
    bottom: 10vh;
}

.slideNavigation button {
    padding: 7px;    
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.2px 0.5px 1px 1px  rgb(151, 147, 147);
}

.slideNavigation button i {
    color: var(--dark-text);
    font-weight: bold;
    font-size: 17px;
}