@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --small-text: #919199;
    --bg-red: #f3123c;
    --bg-light: #f3f5f8;
    --dark-gray: #545454;
    --dark-text: #141117;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

body {
    background: var(--bg-light);
}

i.material-icons {
    font-size: 24px;
    color: var(--small-text);
}

i.material-icons.notification-icon {
    color: var(--bg-red);
}